@use 'variaveis';

.hero {
    padding: 21vw;
    min-width: 80vh;
    background-image: url(../img/poster2.PNG);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
}